footer {
    height: 150;
    grid-column-start: 1;
    grid-column-end: 4;
    background-image:url(/imagenes/background-1932466_1920.jpg);
    background-size: 100%;
    display: grid;
    justify-content: center;
    border-radius: 20px;

    .pie {
        margin-top: 50px;
        height: 200px;

        a img {
            height: 80px;
            padding: 50px;
            margin: auto;
        }
    }
}